variables:
  tag: "$(Build.BuildNumber)"
  tagArm: "$(Build.BuildNumber)-arm64"

parameters:
- name: pipelineType
  displayName: "Pipeline Type"
  type: string

jobs:
- job: Build
  displayName: 'Docker Build'
  pool:
    vmImage: 'ubuntu-latest'

  steps:
  - checkout: self

  - task: bash@3
    displayName: 'Set up QEMU'
    inputs:
      targetType: 'inline'
      script: |
        docker run --rm --privileged multiarch/qemu-user-static --reset -p yes

  - task: Docker@2
    inputs:
      containerRegistry: 'docker hub'
      repository: 'fallenwood/ddns-client'
      ${{ if eq(parameters.pipelineType, 'Official') }}:
        displayName: 'Docker Build And Push'
        command: 'buildAndPush'
      ${{ if ne(parameters.pipelineType, 'Official') }}:
        displayName: 'Docker Build'
        command: 'build'
      Dockerfile: '**/Dockerfile'
      tags: |
        $(tag)

  # - task: Docker@2
  #   inputs:
  #     containerRegistry: 'docker hub'
  #     repository: 'fallenwood/ddns-client'
  #     ${{ if eq(parameters.pipelineType, 'Official') }}:
  #       displayName: 'Docker Build And Push'
  #       command: 'buildAndPush'
  #     ${{ if ne(parameters.pipelineType, 'Official') }}:
  #       displayName: 'Docker Build'
  #       command: 'build'
  #     Dockerfile: '**/Dockerfile.arm64'
  #     tags: |
  #       $(tagArm)